
.container {
  //display: none;
  background: #7E51FF;
  padding: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.button {
  display: none;
}


@media screen and (max-width: 999px) {
  .button {
    display: inline-block;
  }
}