.background {
 display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #7E51FF;
    border: 3px solid #7E51FF;
    border-radius: 20px;
    padding: 7px 7px;
    margin: 20px;
}

.buttonEnd {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    border: 3px solid #7E51FF;
    border-radius: 20px;
    padding: 7px 7px;
    margin: 20px;

    background: #7E51FF;
    color: white;
}

@media screen and (max-width: 1279px) {
    .background {
        position: absolute;
        top: 110px;
        left: 230px;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 35%;
    }

    .button {
        background-color: #7E51FF;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        border: 3px solid #FFFFFF;
        margin: 5px;
    }

    .buttonEnd {
        font-size: 14px;
        line-height: 16px;
        border: 3px solid #FFFFFF;
        background: #FFFFFF;
        color: black;
        margin: 5px;
    }
}

@media screen and (max-width: 999px) {
    .background[hidden] {
        display: none;
    }
}