
.backgroundArea {
    background: #7E51FF;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px;
    margin: 0 auto;
}

.input {
    box-shadow: inset 2px 2px 4px rgba(153, 138, 171, 0.26);
    border-radius: 36px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: white;
    background-image: url('./../../assets/InputSearch/Search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    width: 33%;
    text-align: left;
    margin: 0;
}

.buttonContactWithUs {
    background: #FFAB00;
    box-shadow: 5px 4px 0 #162329;
    border-radius: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 143.8%;
    text-align: center;
    color: #242028;
    padding: 8px 50px;
}


@media screen and (max-width: 1279px) {
    .backgroundArea {
        margin-bottom: 20px;
    }
    .inputContainer {
        height: 200px;
        width: 50%;

    }

    .buttonContactWithUs {
        position: absolute;
        top: 170px;
        left: 680px;
    }
}


@media screen and (max-width: 999px) {
    .inputContainer {
        height: auto;
    }

    .input {
        width: 90%;
    }

    .text {
        position: absolute;
        top: 140px;
        left: 240px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #242028;
        width: 356px;
    }

    .buttonContactWithUs {
        position: absolute;
        top: 250px;
        left: 300px;
    }

    .buttonSeeTags {
        display: block;
        width: 40%;
        background: #AABBFF;
        box-shadow: inset 2px 2px 4px rgba(153, 138, 171, 0.26);
        border-radius: 48px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 143.8%;
        text-align: center;
        color: #7E51FF;
    }
}