.image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.itemsContainer {
  width: 32%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  margin-bottom: 24px;
  margin-right: 23px;
}

.itemsContainer:nth-last-child(1) {
  margin-right: 0;
}

.itemsContainer:nth-last-child(4) {
  margin-right: 0;
}
.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  background-color: #7E51FF;
  padding: 25px 40px;
  height: 100%;
}


@media screen and (max-width: 1279px) {
  .itemsContainer {
    width: 48%;
  }
  .itemsContainer:nth-last-child(1) {
    margin-right: 0;
  }
  .itemsContainer:nth-last-child(3) {
    margin-right: 0;
  }
  .itemsContainer:nth-last-child(4) {
    margin-right: 23px;
  }
}

@media screen and (max-width: 999px) {
  .itemsContainer {
    width: 47%;
  }
}

@media screen and (max-width: 767px) {
  .itemsContainer {
    width: 100%;
  }
  .itemsContainer:nth-last-child(2) {
    margin-right: 0;
  }
}