.background {
  background: #7E51FF;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 40px;
  margin-bottom: 17px;
}

.container {
  width: 28%;
}

.inputContainer {
  position: relative;

}

.inputContainer:before {
  position: absolute;
  content: url('../../assets/InputSearch/Search.svg');
  top: 12px;
  left: 16px;
}

.input {
  box-shadow: inset 2px 2px 4px rgba(153, 138, 171, 0.26);
  border-radius: 36px;
  background-color: white;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 0 14px 40px;
  width: 100%;
  box-sizing: border-box;
}

.buttonSeeTags {
  display: none;
}


@media screen and (max-width: 1279px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  .inputContainer {
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 999px) {
  .background {
    flex-direction: column;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 17px;
  }

  .inputContainer {
    width: 45%;
    margin: 0;
  }

  .buttonSeeTags {
    display: inline-block;
    width: 45%;
    background: #AABBFF;
    box-shadow: inset 2px 2px 4px rgba(153, 138, 171, 0.26);
    border-radius: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 143.8%;
    text-align: center;
    color: #7E51FF;
    border: none;
    cursor: pointer;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    margin: 0;
  }

  .inputContainer {
    width: 100%;
    margin: 0 0 16px 0;
  }

  .buttonSeeTags {
    width: 100%;
    margin: 0;
    padding: 9px 100px;
  }
}