

.background {
    /*text-align: center;*/
    background-color: #E5E5E5;
    /*width: 1440px;*/
    background-image: url('./assets/Vector.svg');
    background-repeat: no-repeat;

}

.container {
    margin: 0 auto;
    width: 1280px;

}

@media screen and (max-width: 1279px) {
    .container {
        width: 880px
    }
}

@media screen and (max-width: 999px) {
    .container {
        width: 704px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 432px;
    }
}
